<% title t(:new, scope:'actioncontroller.prize') %>
<div class="row">
  <h2><%= t(:new, scope:'actioncontroller.prize') %></h2>

  <%= render 'form' %>

  <%= link_to t(:back), admin_prizes_path %>
</div>

