<% title t(:new, scope:'actioncontroller.rule') %>
<div class="row">
  <h2><%= t(:new, scope:'actioncontroller.rule') %></h2>

  <%= render 'form' %>

  <%= link_to t(:back), admin_prize_path(@prize) %>
</div>

